body
{
  background-color: hsl(236, 21%, 26%);
}

.hills
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.stars
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 60vh;
}

.icon-container 
{
  display: flex;
  justify-content: space-between; /* Espacia los íconos uniformemente */
  width: 100%;                    /* Ocupa el ancho completo del contenedor */
  max-width: 120px;               /* Opcional: Define un ancho máximo para el contenedor */
  margin: 0 auto;                /* Opcional: Centra el contenedor horizontalmente */
  position: absolute;
  top:85%;
  left: 45%;
}